@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;
@use '../../../scss/main.scss' as *;

.educationSection {
    border-radius: 32px;
    padding: 0 72px;
    background: #141414;

    .grid {
        display: grid;
        grid-template-columns: 548px 1fr;
        gap: 18px;

        .griditems:last-child {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(2, 1fr);

            .height {
                height: 400px;
                overflow: hidden;
            }

            .allbox {
                .box {
                    position: relative;
                    border-radius: 24px;
                    margin: 0 0 16px 0;
                    overflow: hidden;
                    background: rgba(255, 255, 255, 0.10);
                    padding: 24px 16px;
                    height: 154px;


                    h3 {
                        color: #FFF;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        margin: 0 0 30px 0;
                        line-height: 105%;
                        @include font-medium;
                        max-width: 110px;
                    }

                    .bottomIcon {
                        position: absolute;
                        bottom: 10px;
                        right: 0;

                        img {
                            max-width: 93px;
                            display: block;
                        }
                    }

                    .icon {
                        img {
                            display: block;
                            cursor: pointer;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 24px;
                        padding: 1px;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
                        -webkit-mask:
                            linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                        pointer-events: none;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }

        .text {
            padding: 96px 0;

            p {
                color: var(--Dark-Body, #747474);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 105%;
                @include font-normal;
            }

            h2 {
                color: #fff;
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                margin: 0 0 24px 0;
                line-height: 105%;
                @include heading-semibold;

                span {
                    display: block;
                    background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}