@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.faqSection {
    padding: 110px 0;
    background: #F1F1F1;

    .title {
        padding: 0 0 42px 0;

        h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 105%;
            @include heading-semibold;
            background: var(--Hero-Text, linear-gradient(93deg, #252525 0%, #4E4E4E 24.34%, #4E4E4E 52.49%, #4E4E4E 71.46%, #252525 99.25%));
            background-clip: text;
            -webkit-background-clip: text;
            text-align: center;
            -webkit-text-fill-color: transparent;

            span {
                background: var(--Primary, linear-gradient(90deg, #E8BC33 10%, #B07A09 100%));
                background-clip: text;
                -webkit-background-clip: text;
                @include heading-semibold;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .twoCol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        .items {

            .mainFaq {
                border-radius: 18px;
                border: 1px solid rgba(12, 12, 12, 0.10);
                background: rgba(12, 12, 12, 0.10);
                padding: 15px;
                margin: 0 0 15px 0;

                .faqBody {

                    &.hide {
                        max-height: 0px;
                        overflow: hidden;
                        transition: .3s ease-in-out;
                    }

                    &.show {
                        max-height: 100vh;
                        overflow: hidden;
                        transition: .3s ease-in-out;
                    }

                    .spacing {
                        padding: 15px 0 0 0;

                        p {
                            font-size: 16px;
                            @include font-normal;
                            color: #747474;
                            line-height: 24px;
                        }
                    }
                }

                .faqHeader {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        color: var(--Black-Body, #252525);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @include font-medium;
                    }

                    .icon {
                        display: flex;
                        align-items: center;

                        &.toggle {
                            img {
                                transform: rotate(180deg);
                            }
                        }

                        img {
                            display: block;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}